body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Home Page */
.home {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1526047932273-341f2a7631f9")
              center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255,255,255,0.9);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px pink;
}

.card h1 {
  color: #d6336c;
}

.card input {
  padding: 10px;
  width: 220px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid pink;
}

.card button {
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #d6336c;
}

/* Rose Page */



.rose {
  background: url("https://t3.ftcdn.net/jpg/12/20/46/52/360_F_1220465242_lXB7nXomU4Pmcz5PsQ2He3W66ciQgr0X.jpg")
                center/cover no-repeat;
  min-height: 100vh;
  text-align: center;
  padding: 40px;
}

.rose h1 {
  color: #c9184a;
  font-size: 40px;
}

.images img {
    width: 200px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px pink;
}
